<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Static/css/menu.css">
</head>
<body>
    <h1 class="title">Como quieres ingresar</h1>
    <div class="container">
        <div class="card">
            <p>Profesor</p>
            <img src="https://media.istockphoto.com/id/1410336912/es/foto/feliz-maestra-y-colegiala-dando-cinco-a%C3%B1os-durante-la-clase-en-la-escuela.jpg?s=612x612&w=0&k=20&c=LUsPBZWJExNqSBf4X-Ts1HHUD0pKPLgSuJv2hr7UdIg=" alt="Image 1">
            <button onclick="window.location.href='Login-PRO.html'">Ingresar</button>
        </div>
        <div class="card">
            <p>Alumno</p>
            <img src="https://imagenes.20minutos.es/files/image_990_556/uploads/imagenes/2024/01/11/imagen-generica-de-una-estudiante-haciendo-un-examen.jpeg" alt="Image 2">
            <button onclick="window.location.href='Login-ALUM.html'">Ingresar</button>
        </div>
</body>
</html>