<title>{% block title %}Entregas{% endblock %}</title>

{% block extra_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entregas.css') }}">
    <link rel="icon" href="https://images.vexels.com/content/224180/preview/delivery-place-logo-d92969.png">
{% endblock %}

{% block body %}
<body>
    <h2>Entregas de la clase</h2>
    <ul>
        {% for entrega in entregas %}
            <li>
                Alumno: {{ entrega.alumno.username }}<br>
                Archivo: <a href="{{ url_for('static', filename='uploads/' + entrega.archivo) }}">{{ entrega.archivo }}</a><br>
                Fecha de entrega: {{ entrega.fecha_entrega }}
            </li>
        {% else %}
            <li>No se han realizado entregas todavía.</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}